# Python
__pycache__/
*.pyc

# Node.js
node_modules/
npm-debug.log*

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
go_core/kv-ttl

# Database persistence files
*.aof
data.json

# Test & prompt files
/prompt.txt
test_client.py